<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-sm-6">
			    <div class="input-group">
			      <input id="query" type="text" class="form-control" placeholder="Search for...">
			      	<span class="input-group-btn">
			        	<button id="search-button" class="btn btn-default" type="button">Go!</button>
			      	</span>
			    </div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div>
		<div class="row">
			<div id="search-container"></div>
		</div>
	</div>
	</div>
</section>
