<div class="container" style="display:inline;" data-ng-controller="HomeController">
    <button class="btn btn-default" type="submit" ng-click="togglePlayer();" style="float:left;">Play</button>
    <input type="range" ng-model="volumeVal" ng-change="changeVolume();" style="width:100px; float:left;"/>
    <div id="player" style="" class="col-sm-1">
      <div id="placeholder"></div>
    </div>
    <section id="scplayer" style="">
		<iframe id="sc-widget" width="100" height="80" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=false"></iframe>
  </section>
</div>
