<div class="container" style="display:inline;" data-ng-controller="HomeController">
    <h4 id="titleField" style="text-align:center; margin-top:0;">{{youtube.videoTitle}}</h4c>
    <button class="btn btn-default" ng-click="togglePlay()" id="playButton"><span ng-class="toggleState" aria-hidden="true"></span></button>
    <button class="btn btn-default" type="submit" ng-click="nextSong();" id="nextSongButton" data-ng-show="authentication.user"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
    <div class="dropdown" data-ng-init="initPlaylistsMenu()" data-ng-show="authentication.user">
    <button id="addToButton" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu dd" role="menu" aria-labelledby="dropdownMenu2">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/#!/playlists/create">+ New Playlist</a></li>
      <div class="dd" ng-repeat="list in playlists">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addTrackFromMenu(list);">{{list.name}}</a></li>
    </div>
    </ul>
  </div>
  <input id="volumeSlider" type="range" ng-model="volumeVal" ng-change="changeVolume();" style="width:100px; position:fixed; left:190px; bottom:15px;"/>
  <p style="float:left; margin-right:10px;"></p>
  <input type="range" id="seekBar" ng-model="setVal" ng-change="seekTo()" max="duration" step="1"/>
  <p style="float:right;">{{displayDuration}}</p>
  <p style="float:right">/</p>
  <p ng-bind="displayTime" style="float:right"></p>
  <!--p style="right:10px; left:auto;" ng-hide="authentication.user">Sign up to create playlists!</p-->
</div>
