<div id="wrapper" data-ng-controller="HomeController">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" data-ng-show="authentication.user">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#!/playlists">
                    Playlists
                </a>
            </li>
            <li ng-hide="location === '/playlists/create'">
                <a href="/#!/playlists/create">+ New Playlist</a>
            </li>
            <li style="background:green;" ng-show="location === '/playlists/create'">
                <a href="/#!/playlists/create">+ New Playlist</a>
            </li>
            <div ng-repeat="playlist in playlists">
            	<li ng-hide="location === '/playlists/{{playlist._id}}'">
	                <a href="#!/playlists/{{playlist._id}}">{{playlist.name}}</a>
	            </li>
                <li style="background:green;" ng-show="location === '/playlists/{{playlist._id}}'">
                    <a href="#!/playlists/{{playlist._id}}">{{playlist.name}}</a>
                </li>
            </div>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

</div>