.dd > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}
.dd > li > a:hover,
.dd > li > a:focus {
  text-decoration: none;
  background-color: #39444e;
}
.dd > .active > a,
.dd > .active > a:hover,
.dd > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dd > .disabled > a,
.dd > .disabled > a:hover,
.dd > .disabled > a:focus {
  color: #777;
}
.dd > .disabled > a:hover,
.dd > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00ff7e;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00ff7e;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input::-ms-fill-lower {
    background-color: #00ff7e;
    border-radius: 10px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    top:30px;
    margin-left: -250px;
    overflow-y: auto;
    background: #4e5d6c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index:59500!important;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:1100px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        z-index:2!important;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.toptabButton {
    text-align:center;
    display: inline-block;
    cursor:pointer;
    background:#4e5d6c;
    margin-top:40px;
    height:50px;
}

.toptabButton:hover {
    background-color: #627487;
}
.toptabButton-select:hover {
    background-color: #00a700;
}
.toptabButton-select {
    background:green;
}
.toptabs{
    width:100%;
    position:fixed;
    text-align:center;
    top:0;
    z-index:1;
}
@media(min-width:900px) {
    #playlists {
        display:none;
    }
    .toptabButton {
        width:31%;
    }
    .searchButton {
        top:0;
    }
    .playButton {
        top:0;
    }
    .ytplayer {
      width:60%;
    }
}
@media(max-width:900px) {
    .toptabButton {
        width:50%;
        float:left;
    }
    .searchButton {
        top:0;
        margin-left:0px;
        width:50%;
    }
    .playButton {
        top:0;
        right:0;
        left:auto;
        width:50%;
    }
    .ytplayer {
      width:90%;
      height:380px!important;
    }
}
@media(max-width:1400px){
  .ytplayer {
    height:420px!important;
  }
}
@media(max-width:570px){
  .ytplayer {
    height:300px!important;
  }
}
.navbar-fixed-bottom {
    z-index:3!important;
}
.ytsection {
  top:60px;
}
.ytplayer {
  height:650px;
  max-width:1500px;
}
