<section data-ng-controller="PlaylistsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="playlist.name"></h1>
		<button ng-click="launchList(playlist);" class="list-group-item btn btn-success">Play</button>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == playlist.user._id))">
		<a class="btn btn-primary" href="/#!/playlists/{{playlist._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<h3>Songs:</h3>
	<br>
	<div ng-repeat="song in playlist.songs">
		{{song}}  <button class="btn btn-danger" ng-click="removeSong(song);">Remove</button><br>
	</div>
</section>
